body {
  background-image: url(https://downloadwap.com/thumbs2/wallpapers/p2ls/new/39/l5izyjsm.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-location {
  color: red;
}

.weather-wrap {
  border: 3px solid white;
  padding: 150px;
  font-size: 30px;
  border-radius: 30px;
  background-color: white;
  opacity: 0.5;
  margin-bottom: 20px;
}

.button-wrap {
  display: flex;
}

.button-item {
  margin-right: 10px;
}
